
/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --font-main: 'Jost';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
  
  height: 100vh;
  
}

header {
background-color: #000;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.5rem;
  
}

.main-page{
  background: linear-gradient(#000, #434343);
}

.header-left-div {
display: flex;
align-items: baseline;
}


.header-left-div h3 {
  font-family: var(--font-main);
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.header-left-div a {
  font-family: var(--font-main);
  font-weight: 400;
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}

.header-right-div {
display: flex;
align-items: center;
}

.header-right-div form, a {
margin-right: 1rem;
}

.header-right-div input[type="text"] {
  caret-color: #fff;
  color: #fff;
  font-family: var(--font-main);
  font-weight: 450;
  font-style: italic;
  background-color: #343333;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  margin-right: 0.5rem;
  text-align: center;
}

.btn-register {
  background-color: #fff;
  color: #000;
  font-family: var(--font-main);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}


.btn-black {
  background-color: transparent;
  color: #fff;
  font-family: var(--font-main);
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}

.top-left-title {
  font-size: xx-large;
}

.central-image {
  text-align: center;
  color: white;
  font-family: var(--font-main);
  font-weight: 400;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.game-information{
  position: absolute;
  top: 5rem;
  left: 8rem;
  text-shadow: 0.1em 0.1em 0.05em #333;
  
}

.btn-about{
  position: absolute;
  top: 17rem;
  left: 9rem;
  background-color: #343333;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}

.btn-about:hover{
  transform: scale(0.93);
  background-color: #292828c7;
}

.btn-about:active{
  transform: scale(0.93);
}

.btn-black:hover{
  transform: scale(0.93);
  background-color: #292828c7;
}

.btn-black:active{
  transform: scale(0.93);
}

.btn-register:hover{
  transform: scale(0.93);
  background-color: #ffffffec;
}

.btn-register:active{
  transform: scale(0.93);
}

.main-image{
  height: 50vh;
  width: 100vw;
}

.images-header{
  margin-top: auto;
  transform: translateY(-25%);
}

.small-img{
  display: block;
  width: 300px;;
  height:150px;

}

.big-img{
  width:600px;
  height:300px;
  vertical-align: bottom;
}

.game-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: left;
  font-family: var(--font-main);
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem;
}

.game-category-box{
  width: 900px;;
  height:550px;
}

.game-category h2 {
  align-self: flex-start;
}

.main-images{
    display: flex;
}

.primary-game{
  width: 450px;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.primary-game img{
  height: 100%;
  width: 100%;
}

.primary-game:hover .image-opacity{
  opacity: .2;
}

.primary-game:hover .card-info{
  opacity: 1;
  bottom: 20%;
}

.secondary-game{
  width: 100%;
  max-width: 300px;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.secondary-game img{
  height: 100%;
  width: 100%;
}

.secondary-game:hover .image-opacity{
  opacity: .2;
}

.secondary-game:hover .card-info{
  opacity: 1;
  bottom: 20%;
}

.card-info{
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out, bottom .5s;
}

.low-images {
  display: flex;
  justify-content: center;
}


footer {
  padding: 2rem;
  background-color: #000;
  color: white;
  display: flex;
}

#secao-orcamento{
  color: white;
  font-family: var(--font-main);
}